.login-register-form {
    @extend %flexJCenter;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: auto;
}

.form-container {
    border: 1px solid $borderColor;
    padding: 20px;
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
}

.form-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.form-input-con {
    .form-input-heading {
        display: block;
    }

    input {
        width: 100%;
        height: $standardHeight;
        margin-bottom: 15px;
        margin-top: 8px;
        border-radius: 5px;
        border: 1px solid $borderColor;
        padding: 0 10px;
    }
    
    .valueRow {
        margin-bottom: 20px;
        font-size: 13px;
        color: #aaa;
    }
}
