$backgroundColor: #fff;
$borderColor: #aaa;
$btnColor: #007bff;
$btnBackground: #007bff;

$standardHeight: 32px;

%flex {
    display: flex;
}

%flexCenter {
    @extend %flex;
    align-items: center;
}

%flexJCenter {
    @extend %flexCenter;
    justify-content: center;
}