@import "variable";
@import "button";
@import "form";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

a {
    cursor: pointer;
}

body {
    background: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}