<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Complete profile</title>

        <link rel="stylesheet" href="/resources/assets/css/template.css">
        <script>
            window.addEventListener("pageshow", function(event) {
                if(event.persisted) {
                    window.location.reload()
                }
            }, false);
        </script>
    </head>
    <body>
        <div class="container">
            <div class="login-register-form">
                <div class="form-container">
                    <h1 class="form-heading">Complete profile</h1>
                    <form id="completeProfileForm" onsubmit="completeProfile(event)">
                        <div class="form-input-con">
                            <label>
                                <span class="form-input-heading">Full name</span>
                                <input type="text" id="name" name="name" value="{{.Name}}"/>
                            </label>
                        </div>
                        <div class="form-input-con">
                            <label>
                                <span class="form-input-heading">Address</span>
                                <input type="text" id="address" name="address" value="{{.Address}}"/>
                            </label>
                        </div>
                        <div class="form-input-con">
                            <label>
                                <span class="form-input-heading">Email</span>
                                <input type="email" id="email" name="email" value="{{.Email}}"/>
                            </label>
                        </div>
                        <div class="form-input-con">
                            <label>
                                <span class="form-input-heading">Phone</span>
                                <input type="text" id="phone" name="phone" value="{{.Phone}}"/>
                            </label>
                        </div>
                        <div class="text-center">
                            <button class="btn" id="completeProfileBtn" type="submit">Complete Profile</button>
                            <span id="updateMesg" class="hidden">Saving...</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            function initMap() {
                var input = document.getElementById('address');
                new google.maps.places.Autocomplete(input);
            }

            function completeProfile(e) {
                e.preventDefault();

                let name = document.getElementById("name").value;
                let address = document.getElementById("address").value;
                let email = document.getElementById("email").value;
                let phone = document.getElementById("phone").value;

                if(name=='') {
                    alert("Name cannot be empty!");
                    return;
                }

                if(address=='') {
                    alert("Address cannot be empty!");
                    return;
                }

                if(email=='') {
                    alert("Email cannot be empty!");
                    return;
                }

                if(phone=='') {
                    alert("Phone cannot be empty!");
                    return;
                }
                
                let formData = new FormData();
                formData.append('name', name);
                formData.append('address', address);
                formData.append('email', email);
                formData.append('phone', phone);

                document.getElementById("completeProfileBtn").classList.add("hidden");
                document.getElementById("updateMesg").classList.remove("hidden");

                fetch('/rest/complete-register', {
                    method: 'POST',
                    body: formData
                })
                    .then(async (response) => {
                        let data = await response.json();
                        console.log(data)
                        if(response.ok) {
                            window.location.replace("/profile")
                        } else {
                            alert(data.mesg);
                            document.getElementById("completeProfileBtn").classList.remove("hidden");
                            document.getElementById("updateMesg").classList.add("hidden");
                        }
                    });

                return false;
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsZ7Euu7Wj993Sw9EOwMEk_2p-VLR0oY4&libraries=places&callback=initMap" async defer></script>

    </body>
</html>
