<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Forget Password</title>

        <link rel="stylesheet" href="/resources/assets/css/template.css">
    </head>
    <body>
        <div class="container">
            <div class="login-register-form">
                <div class="form-container">
                    <h1 class="form-heading">Forget password</h1>
                    <form id="forgetPasswordForm" onsubmit="requestResetLink(event)">
                        <div class="form-input-con">
                            <label>
                                <span class="form-input-heading">Email</span>
                                <input type="text" id="email" name="email" value="{{.Email}}">
                            </label>
                        </div>
                        <div class="text-center">
                            <button class="btn" type="submit">Request reset link</button>
                        </div>
                    </form>
                    <br/>
                    <hr/>
                    <br/>
                    <p>
                        <a href="/register">Sign up</a> if you are a new member<br/>
                        <a href="/login">Sign in</a> if you are already a member
                    </p>
                </div>
            </div>
        </div>

        <script>
            function requestResetLink(e) {
                e.preventDefault();

                let email = document.getElementById("email").value;

                if(email=='') {
                    alert("Email cannot be empty!");
                    return;
                }
                
                let formData = new FormData();
                formData.append('email', email);

                fetch('/rest/send-reset-link', {
                    method: 'POST',
                    body: formData
                })
                    .then(async (response) => {
                        let data = await response.json();
                        console.log(data)
                        if(!response.ok) {
                            alert(data.mesg);
                        } else {
                            alert("Reset password link is send to your email!");
                        }
                    });

                return false;
            }
        </script>
    </body>
</html>
