<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Login</title>

        <link rel="stylesheet" href="/resources/assets/css/template.css">
    </head>
    <body>
        <div class="container">
            <div class="login-register-form">
                <div class="form-container">
                    <h1 class="form-heading">Sign in</h1>
                    <form id="loginForm" onsubmit="checkLogin(event)">
                        <div class="form-input-con">
                            <label>
                                <span class="form-input-heading">Email</span>
                                <input type="text" id="email" name="email" value="{{.Email}}">
                            </label>
                        </div>
                        <div class="form-input-con">
                            <label>
                                <span class="form-input-heading">Password</span>
                                <input type="password" id="password" name="name">
                            </label>
                        </div>
                        <div class="text-center">
                            <button class="btn" id="loginNowBtn" type="submit">Sign in</button>
                            <span id="processingMesg" class="hidden">Loading...</span>
                        </div>
                    </form>
                    <div class="text-center">
                        <br/>
                        <button class="btn" type="button" id="loginWithGoogleBtn">Sign in with Google</button>
                    </div>
                    <br/>
                    <hr/>
                    <br/>
                    <p>
                        <a href="/register">Sign up</a> if you are a new member<br/>
                        <a href="/forget-password">Forget password?</a>
                    </p>
                </div>
            </div>
        </div>

        <script>
            function onSignIn(googleUser) {
                var id_token = googleUser.getAuthResponse().id_token;
                console.log(id_token);
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.disconnect();

                //if this did not had time to sign out put below lines in setTimeout to make a delay
                $('#google_token').val(id_token); //hidden form value
                $('#google-oauth').submit(); //hidden form
                var profile = googleUser.getBasicProfile();
                console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                console.log('Name: ' + profile.getName());
                console.log('Image URL: ' + profile.getImageUrl());
                console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
            }

            function checkLogin(e) {
                e.preventDefault();

                let email = document.getElementById("email").value;
                let password = document.getElementById("password").value;

                if(email=='') {
                    alert("Email cannot be empty!");
                    return;
                }

                if(password=='') {
                    alert("password cannot be empty!");
                    return;
                }
                
                let formData = new FormData();
                formData.append('email', email);
                formData.append('password', password);

                document.getElementById("loginNowBtn").classList.add("hidden");
                document.getElementById("processingMesg").classList.remove("hidden");

                fetch('/rest/login', {
                    method: 'POST',
                    body: formData
                })
                    .then(async (response) => {
                        let data = await response.json();
                        console.log(data)
                        if(response.ok) {
                            window.location.assign("/profile")
                        } else {
                            alert(data.mesg);
                            document.getElementById("loginNowBtn").classList.remove("hidden");
                            document.getElementById("processingMesg").classList.add("hidden");
                        }
                    });

                return false;
            }

            function onSignIn(googleUser) {
                var profile = googleUser.getBasicProfile();
               
                let formData = new FormData();
                formData.append('gmail', profile.getId());

                fetch('/rest/login-google', {
                    method: 'POST',
                    body: formData
                })
                    .then(async (response) => {
                        let data = await response.json();
                        console.log(data)
                        if(response.ok) {
                            window.location.assign("/profile")
                        } else {
                            alert(data.mesg);
                        }
                    });

                return false;
            }

            var googleUser = {};
            var startApp = function() {
                gapi.load('auth2', function(){
                    // Retrieve the singleton for the GoogleAuth library and set up the client.
                    auth2 = gapi.auth2.init({
                        client_id: '320221821320-28mtvmf2g6umpf7tl4u40o23g2785vab.apps.googleusercontent.com',
                        cookiepolicy: 'single_host_origin',
                        // Request scopes in addition to 'profile' and 'email'
                        //scope: 'additional_scope'
                    });
                    attachSignin(document.getElementById('loginWithGoogleBtn'));
                });
            };

            function attachSignin(element) {
                auth2.attachClickHandler(
                    element,
                    {},
                    onSignIn,
                    function(error) {
                        
                    }
                );
            }
        </script>
        <script src="https://apis.google.com/js/platform.js?onload=startApp" async defer></script>
    </body>
</html>
