<html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Not found</title>

        <link rel="stylesheet" href="/resources/assets/css/template.css">
        <script>
            window.addEventListener("pageshow", function(event) {
                if(event.persisted) {
                    window.location.reload()
                }
            }, false);
        </script>
    </head>
    <body>
        <div class="container">
            <div class="login-register-form">
                <div class="form-container">
                    <h1 class="form-heading">Edit profile</h1>
                    <form id="registerForm" onsubmit="updateProfile(event)">
                        <div class="form-input-con">
                            <label>
                                <span>Name</span>
                                <div class="valueRow" id="nameValue">{{.Name}}</div>
                                <input type="text" id="name" name="name" class="hidden" value="{{.Name}}" required/>
                            </label>
                        </div>
                        <div class="form-input-con">
                            <label>
                                <span>Address</span>
                                <div class="valueRow" id="addressValue">{{.Address}}</div>
                                <input type="text" id="address" name="address" class="hidden" value="{{.Address}}" required/>
                            </label>
                        </div>
                        <div class="form-input-con">
                            <label>
                                <span>Email</span>
                                <div class="valueRow" id="emailValue">{{.Email}}</div>
                                <input type="email" id="email" name="email" class="hidden" value="{{.Email}}" required/>
                            </label>
                        </div>
                        <div class="form-input-con">
                            <label>
                                <span>Phone</span>
                                <div class="valueRow" id="phoneValue">{{.Phone}}</div>
                                <input type="text" id="phone" name="phone" class="hidden" value="{{.Phone}}" required/>
                            </label>
                        </div>
                        <div class="text-center">
                            <div id="updateAction">
                                <button id="updateBtn" class="btn hidden" type="submit">Save</button>
                                <button id="editBtn" class="btn" type="button" onclick="openEdit()">Edit Profile</button>
                            </div>
                            <span id="updateMesg" class="hidden">Updating...</span>
                        </div>
                    </form>
                    <br/>
                    <hr/>
                    <br/>
                    <div class="text-center">
                        <a onclick="logout()">Sign out</a>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function updateProfile(e) {
                e.preventDefault();

                let name = document.getElementById("name").value;
                let address = document.getElementById("address").value;
                let email = document.getElementById("email").value;
                let phone = document.getElementById("phone").value;

                if(name=='') {
                    alert("Name cannot be empty!");
                    return;
                }

                if(address=='') {
                    alert("Address cannot be empty!");
                    return;
                }

                if(email=='') {
                    alert("Email cannot be empty!");
                    return;
                }

                if(phone=='') {
                    alert("Phone cannot be empty!");
                    return;
                }
                
                let formData = new FormData();
                formData.append('name', name);
                formData.append('address', address);
                formData.append('email', email);
                formData.append('phone', phone);

                document.getElementById("updateAction").classList.add("hidden");
                document.getElementById("updateMesg").classList.remove("hidden");

                fetch('/rest/update-profile', {
                    method: 'POST',
                    body: formData
                })
                    .then(async (response) => {
                        let data = await response.json();
                        console.log(data)
                        if(response.ok) {
                            document.getElementById("nameValue").innerText = document.getElementById("name").value;
                            document.getElementById("addressValue").innerText = document.getElementById("address").value;
                            document.getElementById("emailValue").innerText = document.getElementById("email").value;
                            document.getElementById("phoneValue").innerText = document.getElementById("phone").value;
                            document.getElementById("updateAction").classList.remove("hidden");
                            document.getElementById("updateMesg").classList.add("hidden");
                            document.getElementById("updateBtn").classList.add("hidden");
                            document.getElementById("editBtn").classList.remove("hidden");
                            
                            let valueClass = document.getElementsByClassName("valueRow");
                            for(let i=0; i<valueClass.length; i++) {
                                valueClass[i].classList.remove("hidden");
                            }
                            let inputs = document.getElementsByTagName("input");
                            for(let i=0; i<inputs.length; i++) {
                                inputs[i].classList.add("hidden");
                            }
                        } else {
                            alert(data.mesg);
                            document.getElementById("updateAction").classList.remove("hidden");
                            document.getElementById("updateMesg").classList.add("hidden");
                        }
                    });

                return false;
            }

            function logout() {
                deleteSession();
            }

            function deleteSession() {
                fetch('/logout', {
                    method: 'POST'
                })
                    .then(async (response) => {
                        let data = await response.json();
                        console.log(data)
                        if(response.ok) {
                            window.location.replace("/login")
                        } else {
                            alert(data.mesg);
                        }
                    });
            }

            function initMap() {
                var input = document.getElementById('address');
                new google.maps.places.Autocomplete(input);
            }

            function openEdit() {
                document.getElementById("editBtn").classList.add("hidden");
                document.getElementById("updateBtn").classList.remove("hidden");
                let valueClass = document.getElementsByClassName("valueRow");
                for(let i=0; i<valueClass.length; i++) {
                    valueClass[i].classList.add("hidden");
                }
                let inputs = document.getElementsByTagName("input");
                for(let i=0; i<inputs.length; i++) {
                    inputs[i].classList.remove("hidden");
                }
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsZ7Euu7Wj993Sw9EOwMEk_2p-VLR0oY4&libraries=places&callback=initMap" async defer></script>

    </body>
</html>
