<html>
    <head>
        <style>
            .inline {
                display: inline;
            }
        </style>
    </head>
    <body>
        <div>
            Click the link below to reset your password <br/>
            <a href="{{.ResetLink}}">Reset</a><br/>
            {{.ResetLink}}
        </div>
    </body>
</html>